<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd" >

	<context:property-placeholder location="classpath:database.properties"/>
	<!--配置数据源-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc_driver}"/>
		<property name="url" value="${jdbc_url}"/>
		<property name="username" value="${jdbc_user}"/>
		<property name="password" value="${jdbc_password}"/>
		<property name="minIdle" value="${minIdle}"/>
		<property name="maxIdle" value="${maxIdle}"/>
		<property name="initialSize" value="${initialSize}"/>
		<property name="maxActive" value="${maxActive}"/>
		<property name="maxWait" value="${maxWait}"/>
		<property name="removeAbandonedTimeout" value="${removeAbandonedTimeout}"/>
		<property name="removeAbandoned" value="${removeAbandoned}"/>
	</bean>

	<!--jndi-->
	<!--	<bean id="dataSource"  class="org.springframework.jndi.JndiObjectFactoryBean">
            <property name="jndiName">
                <value>java:comp/env/jndi/smbms</value>
            </property>
        </bean>-->

	<!--mybatis的sqlsessionFactory-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="typeAliasesPackage" value="cn.appsys.pojo"/>
	</bean>

	<!--事务管理器-->
	<!--<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:annotation-driven transaction-manager="txManager"/>-->
	<!--事务增强-->
		<!--	<tx:advice id="txAdvice" transaction-manager="txManager">
				&lt;!&ndash;事务规则&ndash;&gt;
				<tx:attributes>
					<tx:method name="find*"  read-only="true " timeout="-1"/>&lt;!&ndash;负一表示事务永不超时，1000则为1000秒&ndash;&gt;
					<tx:method name="*" propagation="REQUIRED"/>&lt;!&ndash;表示这些方法总是会在一个事务里，如果存在事务，则支持当前事务，如没有则开启一个事务&ndash;&gt;
				</tx:attributes>
			</tx:advice>-->
	<!--配置切面-->
	<!--
        <aop:config>
            <aop:pointcut id="myPoint" expression="execution(* sm.service..*.*(..))"/>
            <aop:advisor advice-ref="txAdvice" pointcut-ref="myPoint"/>
        </aop:config>
    -->
</beans>
